# ignore all files intended for use on local system
Dockerfile.*
scripts.*
README.md
.devcontainer

# ignore errant tools configs
.idea
.DS_Store

# ignore procedurally generated cache
.mypy_cache
.pytest_cache
.coverage

# ingore secrets
google_key.json

# ignore temporary working files
local_files/**

# ignore all files in cache
cache/**
